#HCB_comment_box #hcb_form_content,
#HCB_comment_box #hcb_form_email,
#HCB_comment_box #hcb_form_name,
#HCB_comment_box #hcb_form_website {
  background-color:#d1d1d1;
}

h3 {
  display: none;
}

#HCB_comment_box {
  color:#d1d1d1;
}

#hcb_form_name_container {
	width: 50%;
}

.home-desc {
	visibility: hidden;
}

a {
	text-align: left;
	display: absolute;
	text-indent: 0;
	visibility: visible;
}

.home-desc:before 1 {
	content:'GuesBook provided by '; 
	visibility: visible;
	text-indent: 0;
  	display: block;
  	line-height: initial;
}


.hcb-icon {
	visibility: hidden;
}

body {
	background-image: url("Site-assets/BG.png");
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.subsubbannerr {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}

.banicon {
	width: 7%;
	display: inline-block;
	vertical-align: middle;
}
