body {
	background-color: #2f3030;
}

h1 {
	border-top: 4px solid #d1d1d1;
	font-family: verdana;
	color: #d1d1d1;
	text-align: center;
}

p {
	font-family: verdana;
	font-size: 20px;
	color: #dedfe0;
	text-align: left;
}

a {
	color: #28adc1;
}

.banner {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subbanner {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subsubbanner {
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.subsubbannerr {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}

.banicon {
	width: 7%;
	display: inline-block;
	vertical-align: middle;
}

.minitext {
	font-family: verdana;
	font-size: 90%;
	color: #dedfe0;
	text-align: center;
}

.profile {
	width: 25%;
	display: inline-block;
	vertical-align: middle;
}

.about_me {
	font-family: verdana;
	font-size: 100%;
	color: #dedfe0;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	word-wrap: break-word;
	width: 50%; 
}

.Center {
	display: inline-block;
}

.linkicons {
	width: 20%;
	display: inline-block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

.comingsoon {
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bottom {
	font-family: verdana;
	font-size: 100%;
	color: #dedfe0;
	text-align: center;
}

.upto {
	font-family: verdana;
	font-size: 100%;
	width: 30%;
	color: #dedfe0;
	display: inline-block;
	vertical-align: middle;
	word-wrap: break-word;
}

.folio {
	font-family: verdana;
	font-size: 60%;
	width: 10%;
	color: #dedfe0;
	display: inline-block;
	vertical-align: middle;
	word-wrap: break-word;
}

commentBox('5764174919499776-proj', {
    textColor: '#fff'
});