body {
	background-color: #2f3030;
}

h1 {
	font-family: verdana;
	font-size: 160%;
	border-top: 4px solid #d1d1d1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #dedfe0;
}

a {
	color: #28adc1;
}

.intro{
	width: 80%;
	font-family: verdana;
	font-size: 100%;
	color: #dedfe0;
	text-align: centre;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.asset {
	width: 12%;
	display: inline-block;
	vertical-align: top;
	margin-right: 0px;
}

.group {
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
}

.intext {
	width: 60%;
	font-family: verdana;
	word-wrap: break-word;
	font-size: 100%;
	text-align: center;
}

.imgdex {
	width:80%
}

.index {
	display: inline-block;
	vertical-align: top;
	margin-right: 0px;
	width: 15%;
}

.dis {
	font-family: verdana;
	font-size: 100%;
	color: #dedfe0;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.dlink {
	font-family: verdana;
	font-size: 120%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.eee {
	font-family: verdana;
}