body {
	background-image: url("Site-assets/BG.png");
}

h1 {
	border-top: 4px solid #d1d1d1;
	font-family: verdana;
	color: #d1d1d1;
	text-align: center;
	margin: 1%;
}

.nav {
	display: inline-block;
	width: 20%;
}

p {
	font-family: verdana;
	font-size: 120%;
	width: 100%;
	color: #dedfe0;
	text-align: left;
}

a {
	color: #28adc1;
}

.banner {
	width: 79%;
	display: inline-block;
	margin-left: 0;
	margin-right: auto;
	vertical-align: top;
}

.subbanner {
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subsubbanner {
	width: 30%;
	display: block;

}

.Center {
	display: inline-block;
	width: 48%;
	vertical-align: top;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.subsubbannerr {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}

.banicon {
	width: 6%;
	display: inline-block;
	vertical-align: middle;
}

.minitext {
	font-family: verdana;
	font-size: 90%;
	color: #dedfe0;
	text-align: center;
}

.profile {
	width: 28%;
	display: inline-block;
	vertical-align: middle;
}

.about_me {
	font-family: verdana;
	font-size: 100%;
	color: #dedfe0;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	word-wrap: break-word;
	width: 70%; 
}

.linkicons {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

.comingsoon {
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bottom {
	font-family: verdana;
	font-size: 100%;
	color: #dedfe0;
	text-align: center;
}

.upto {
	font-family: verdana;
	font-size: 100%;
	width: 20%;
	color: #dedfe0;
	display: inline-block;
	vertical-align: middle;
	word-wrap: break-word;
}

.folio {
	font-family: verdana;
	font-size: 60%;
	width: 10%;
	color: #dedfe0;
	display: inline-block;
	vertical-align: middle;
	word-wrap: break-word;
}