body {
	background: #f47e70;
}

p {
	font-family: verdana;
	font-size: 120%;
	color: #ffedd1;
	text-align: center;
}

a {
	color: #ffedd1;
}

.banner {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gap {
	margin: 4%;
}

.gaptwo {
	margin: 2%;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.minitext {
	font-family: verdana;
	font-size: 150%;
	color: #ffedd1;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.Center {
	display: inline-block;
}

.landscape {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bottomtext {
	font-family: verdana;
	font-size: 100%;
	color: #f47e70;
	text-align: center;
}

.iconA {
	width:15%;
	margin-left:0px;
}

.iconB {
	width:20%;
	margin-left:25px;
}

.iconC {
	width: 15%;
	margin-left:25px;
}

.iconD {
	width: 50%;
}

.Reservationicon {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:30%;
}

.miniicons {
	display: inline-block;
	width:30%;
	vertical-align:top;
}


@media all and (min-width:0px) and (max-width: 1000px) {
p {
	font-family: verdana;
	font-size: 200%;
	color: #ffedd1;
	text-align: center;
}

img {
	
}

.gap {
	margin: 8%;
}

.gaptwo {
	margin: 4%;
}

.minitext {
	font-family: verdana;
	font-size: 400%;
	color: #ffedd1;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.banner {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.iconA {
	width:50%;
	margin-left:0px;
}

.iconB {
	width:70%;
}

.iconC {
	width: 60%;
}

.iconD {
	width: 90%;
}

.Reservationicon {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

.miniicons {
	display: inline-block;
	width:50%;
	vertical-align:top;
}

.Center {
	display: inline-block;
	width:50%;
	vertical-align:top;
}
}